<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="app/assets/images/CABO-Logo.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      CABO
    </a>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        MENU
      </button>
      <ul class="dropdown-menu">
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </ul>
  </div>
  </div>
</nav>
